.block {
  position: relative;
  display: flex;
  align-items: center;
  width: 345px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0px 1px 8px 0px #0000001A;
  overflow: hidden; /* чтобы обрезать углы картинки */
}

.block.image-top,
.block.image-bottom {
  flex-direction: column;
  align-items: flex-start;
}

.image {
  object-fit: cover;
  display: block;
}

.block.image-left .image {
  width: 58px;
  height: 58px;
  border-radius: 13px;
  flex-shrink: 0;
}

.block.image-top .image {
  width: 100%;
  height: 160px;
  border-radius: 25px 25px 0 0;
}

.block.image-bottom .image {
  width: 100%;
  height: 160px;
  border-radius: 0 0 25px 25px;
}


.content{
  padding-inline: 16px;
  display: flex;
  gap: 8px;

}
.content>img{
margin-block: 16px;
}
.text {
  flex: 1;
  word-break: break-word;
}
.indicator2 {
  position: absolute;
  right: 12px;
  bottom: 8px;
  border-radius: 30px;
  padding: 2px 9px;
  font-size: 12px;
  line-height: 18px;
  min-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.15s ease, bottom 0.15s ease;
}
.indicator2.blur{
 background: rgba(0, 0, 0, 0.3); /* лёгкое затемнение */
  backdrop-filter: blur(6px); /* размытие фона под слоем */
  -webkit-backdrop-filter: blur(6px); /* для Safari */
border: none;

}
.indicator2.active {
  background: linear-gradient(239.93deg, #3FCCFF -26.89%, #068DFB 70.78%);
  box-shadow: 0px 1px 5.3px 0px #149DFF36;
  color: white;
}

.indicator2.inactive {
  border: 0.5px solid #B4B4B4;
  color: #B4B4B4;
}


.dots {
  position: absolute;
  width:28px;
  height:28px;
  right: 16px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:11px;
  transition: transform 0.15s ease, bottom 0.15s ease;
}
.dots.blur{
 background: rgba(0, 0, 0, 0.3); /* лёгкое затемнение */
  backdrop-filter: blur(6px); /* размытие фона под слоем */
  -webkit-backdrop-filter: blur(6px); /* для Safari */
border: none;

}